<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Thitsarparami.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E00B37B1C1D3F12007474FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E00B3941C1D3F12007474FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E00B39F1C1D3F12007474FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
